/*.MoodItem img {*/
    /*margin: 10px;*/
    /*width: 100px;*/
    /*height: 100px;*/
/*}*/

.MoodItem {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 100px;
    opacity: 0.4;
}

.MoodItem.selected {
    opacity: 1;
}
